/* OSHEL demo overrides: logo asset + mobile scrolling */
.logo-img:before {
  background: url(../img/logo-light-mobile.png) no-repeat center;
  background-size: contain;
}

.logo-img-dark:before {
  background: url(../img/logo-dark-mobile.png) no-repeat center;
  background-size: contain;
}

html,
body {
  overflow-x: hidden;
}

#viewport,
#wall {
  max-width: 100vw;
}

@media (max-width: 1024px), (pointer: coarse) {
  #viewport,
  #wall {
    pointer-events: none;
    touch-action: pan-y;
  }

  #viewport {
    width: 100vw;
    height: 100vh;
  }

  #wall.wall-static {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(110px, 1fr);
    width: 100%;
    height: 100%;
  }

  #wall.wall-static .wall-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@supports (-webkit-touch-callout: none) {
  .wall-image {
    filter: none !important;
    -webkit-filter: none !important;
  }
}

.main-navigation-logo-img .oshel-logo-mark {
  display: block;
  width: 57px;
  height: 34px;
  object-fit: contain;
}
