/* OSHEL demo overrides: logo asset + mobile scrolling */
.logo-img:before {
  background: url(../img/logo-light-mobile.png) no-repeat center;
  background-size: contain;
}

.logo-img-dark:before {
  background: url(../img/logo-dark-mobile.png) no-repeat center;
  background-size: contain;
}

@media (max-width: 1024px), (pointer: coarse) {
  #viewport,
  #wall {
    pointer-events: none;
    touch-action: pan-y;
  }
}

.main-navigation-logo-img .oshel-logo-mark {
  display: block;
  width: 57px;
  height: 34px;
  object-fit: contain;
}
